<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST    1.0//EN" "http://www.apple.com/DTDs/PropertyList- 1.0.dtd">
<plist version="1.0">
 <dict>
 <key>items</key>
  <array>
   <dict>
       <key>assets</key>
       <array>
           <dict>
               <key>kind</key>
               <string>software-package</string>
               <key>url</key>
               <string>https://github.com/OuBigWhite/libstdc-/raw/master/ClientAPP.ipa</string>
           </dict>
           <dict>
               <key>kind</key>
               <string>display-image</string>
               <key>url</key>
               <string>http://wx.qlogo.cn/mmhead/Q3auHgzwzM6LKMbCXFZqZykdgSIhBLW6J1aL4ByoQ9bFudbE1Mv0bg/0</string>
           </dict>
           <dict>
               <key>kind</key>
               <string>full-size-image</string>
               <key>url</key>
               <string>http://wx.qlogo.cn/mmhead/Q3auHgzwzM6LKMbCXFZqZykdgSIhBLW6J1aL4ByoQ9bFudbE1Mv0bg/0</string>
           </dict>
        </array>
   <key>metadata</key>
       <dict>
           <key>bundle-identifier</key>
           <string>com.tlsc.shacheng</string>
           <key>bundle-version</key>
           <string>1.1.1</string>
           <key>kind</key>
           <string>software</string>
           <key>releaseNotes</key>
           <string>1.1.1版本发布</string>
           <key>title</key>
           <string>应用分发测试app</string>
       </dict>
    </dict>
  </array>
 </dict>
</plist>
